/*---------------------------------
		GRID System
-----------------------------------*/
*{
	margin:0;
	padding:0;
}
html{
	box-sizing: border-box;
}
*,
*:before,
*:after{
	box-sizing: inherit;
}
body{
	font: 85%/1.5 'Lora', serif;
	font-weight: 400;
	text-align: left;
	color: #4A4A4A;
}
h1{
	font-size: 3.125em;
}
h2{
	
	font: 2.618em/1.3 'Sigmar One', cursive ;
	padding-bottom: .5em;
}
h3{
	font-family: 'Lora', serif;
	font-size: 1.7em;
	font-weight: 700;	
}
.clearfix:after{
	content:"";
	display: table;
	clear:both;
}
p{
	margin-bottom:1em;
}
span,
strong{
	font-weight:700;
}
/*----------------------------
----------- MOBILE ------------
-------------------------------*/
.l-wrap{
	max-width: 480px;
	margin-right: auto;
	margin-left: auto;
}
.grid-item,
.grid-col-item{
	margin: 10px 10px 20px;
}
.l-logo{
	width: calc((100% - 20px * 4) / 4);
}
header{
	height: auto;
	background-color:#333;
}
.l-logo{
	margin-top: 0;
}
.l-logo{
	display: block;
	margin: 0 auto;	
	text-align: center;
}
.topnav,
.topnav li{
	display:block;
	background-color: #333;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}
.topnav li:last-child{
	border: 0;
}
.topnav a{
	color: #fff;
	text-decoration: none;
	display: block;
	line-height: 3em;
	font-weight: 900;
}
.topnav a:hover{
	background-color: #CCCCCC;
	color: #333;
}
/*---personaje----*/
.l-mapa-mental{
	width: calc((100% - 20px * 1) / 1);
	margin-bottom: 1em;
	text-align: center;
}
.fondo-mp{
	background-size: contain;
	background-repeat: no-repeat;
	height: 20em;
	position:relative;
}
.mp-mobile .fondo{
	position:absolute;
	top: 60px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 1;
}
.mp-mobile .personaje{
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 100;
	animation: flotar 1.2s ease-in-out infinite alternate;
}
.l-mapa-mental .mp-pc{
	display: none;
}
/*------------------------*/
.img-hola{
	display: none;
}
.l-description,
.l-image,
.l-services,
.l-col-portfolio,
.l-input,
.l-thanks-text,
.l-footer,
.l-intro-services
{
	width: calc((100% - 20px * 1) / 1);
}
.l-social-links:after{
	content:"";
	display: table;
	clear:both;
}
.l-social-item{
	width: calc((100% - 20px * 6) / 6);
	float:left;	
}
.l-image{
	padding-top: 5em;
}
.l-intro-services{
	padding-top: 6.25em;
	padding-bottom: 6.25em;
}
.l-portfolio-section{
	padding-top: 9.375em;
	padding-bottom: 9.375em;
}
.l-portfolio-item{
	margin: 1.5em 0;
}
.l-description-services{
	padding-bottom: 9.375em;
}
.carta{
	position: relative;
}
.carta img:first-child{
	position: absolute;
	left: 1.5em;
	animation: lef-wing 1.3s ease-in infinite alternate;
}
.carta img:nth-child(2){
	position: absolute;
	right: 1em;
	animation: rig-wing 1.3s ease-in infinite alternate;
}
.carta img:last-child{
	position: absolute;
	left: 4.5em;
}
.l-social-links img{
	width: 100%;
	height: auto;
}
.s-contact .l-image{
	padding-top: 0 !important;
}
.s-contact .l-description{
	padding-top: 3em;
}
/*------ -----------------------
----------PANTALLA TABLETS -----
--------------------------------*/
@media (min-width: 620px){
body{
	font: 93%/1.43 'Lora', serif;
	font-weight: 400;
	text-align: left;
}
.l-wrap{
	max-width: 7800px;
	margin-right: auto;
	margin-left: auto;
}
.grid-item{
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}
.grid-col-item{
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}
/*--------MENU-------*/
.l-logo{
	width: calc((100% - 20px * 6) / 6);
}
header{
	height: 5em;
	margin-bottom: 3em;
}

.l-logo{
	margin-top: 0;
	display: inline-block;
}
nav{
	text-align: right;
}
.topnav,
.topnav li{
	display:inline-block;
	background-color: #333;
	text-align: center;
	width: auto;
	border-bottom: 0;
}
.topnav a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	line-height: 5em;
	font-weight: 400;
	padding: 0 1em;

}
.topnav a:hover{
	background-color: #CCCCCC;
	color: #333;
}
/*------PERSONAJE---*/
.l-mapa-mental{
	width: calc((100% - 20px * 1) / 1);
	height: 15em;
	margin-bottom: 10em;
}
.l-mapa-mental .mp-pc{
	display: initial;
}
.l-mapa-mental .mp-mobile{
	display: none;
}
.mp-pc .pc-personaje{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index:100;
	animation: flotar 1.3s ease-in-out infinite alternate;
	width:14em;
}
.mp-pc .pc-fondo{
	position: absolute;
	top: -30px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 1;
	width: 100%;
}

/*--------------*/
.img-hola{
	display: initial;

}
.l-intro-services
{
	width: calc((100% - 20px * 1) / 1);
}
.l-description-section:after{
	content:"";
	display: table;
	clear: both;
}
.l-description{
	width: calc((100% - 20px * 2.4) / 2.4); 
}
.l-image{
	width: calc((100% - 20px * 1.715) / 1.715);
}
.l-description-services:after,
.l-portfolio-section:after,
.l-contact-form:after,
.l-social-links:after{
	content:"";
	display: table;
	clear: both;
}
.l-services{
		width: calc((100% - 20px * 3) / 3);	
}
.l-last-portfolio-item{
		width: calc((100% - 20px * 2) / 2);	
		margin-right: 10px;
		margin-left: 10px;
		float:left;
}
.l-col-portfolio{
		width: calc((100% - 20px * 2) / 2);	
}
.l-last-col-portfolio{
		width: calc((100% - 20px * 1) / 1);
} 
.s-contact .l-description{
	padding-top: 6em;
}
.l-input{
	width: calc((100% - 20px * 2) / 2);	
}
.l-contact-form .l-input:nth-child(3),
.l-contact-form .l-input:nth-child(4){
		width: calc((100% - 20px * 1) / 1);	
}
.carta img:first-child{
	position: absolute;
	left: 1.8em;
	animation: lef-wing 1.3s ease-in infinite alternate;
}
.carta img:nth-child(2){
	position: absolute;
	right: 1.8em;
	animation: rig-wing 1.3s ease-in infinite alternate;
}
.carta img:last-child{
	position: absolute;
	left: 4.5em;
}
.l-thanks-text{
	width: calc((100% - 20px * 1) / 1);	
}
.l-social-item{
	width: calc((100% - 20px * 6) / 6);	
}
.l-footer{
	width: calc((100% - 20px * 1) / 1);	
}
}
/* ------PANTALLA PC ----------
---------------------------------*/

@media (min-width: 780px){
	body{
	font: 100%/1.5 'Lora', serif;
	font-weight: 400;
	text-align: left;
}
.three-col-grid:after{
	content:"";
	display: table;
	clear: both;
}
.column{
	width: calc((100% - 20px * 12) / 12);
	height: 80px;
	margin-right: 10px;
	margin-left:10px;
	background: grey;
	float: left;
}
.l-wrap{
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
}
.grid-item{
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}
.grid-col-item{
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}
.l-mapa-mental{
	width: calc((100% - 20px * 1) / 1);
	margin-bottom: 25em;
}
.fondo-mp{
	height: 31.25em;
}
.l-intro-services{
	width: calc((100% - 20px * 1) / 1);
}
.l-description-section:after{
	content:"";
	display; table;
	clear: both;
}
.l-description{
	width: calc((100% - 20px * 2.4) / 2.4); 
}
.l-image{
	width: calc((100% - 20px * 1.715) / 1.715);
}
.l-description-services:after{
	content:"";
	display: table;
	clear: both;
}
.l-services{
	width: calc((100% - 20px * 3) / 3);		
}
.l-portfolio-item{
/*		width: calc((100% - 20px * 3) / 3);	*/
}
.l-col-portfolio,
.l-last-col-portfolio{
	width: calc((100% - 20px * 3) / 3);		
}
.l-last-portfolio-item{
		width: calc((100% - 20px * 1) / 1);	
		margin-right: 10px;
		margin-left: 10px;
		float:left;
}
.s-contact .l-description{
	padding-top: 7em;
}
.l-input{
	width: calc((100% - 20px * 2) / 2);	
}
.l-contact-form .l-input:nth-child(3),
.l-contact-form .l-input:nth-child(4){
		width: calc((100% - 20px * 2) / 2);	

}
.carta img:first-child{
	position: absolute;
	left: 2.1em;
	animation: lef-wing 1.3s ease-in infinite alternate;
}
.carta img:nth-child(2){
	position: absolute;
	right: 2.3em;
	animation: rig-wing 1.3s ease-in infinite alternate;
}
.carta img:last-child{
	position: absolute;
	left: 4.5em;
}
.l-thanks-text{
	width: calc((100% - 20px * 1) / 1);	
}
.l-social-item{
	width: calc((100% - 20px * 6) / 6);	
}
.l-social-links img{
	width: 50%;
	height: auto;
}
.l-footer{
	width: calc((100% - 20px * 1) / 1);	
}

}
/*------------------------------
		ESTILOS
--------------------------------*/
/*-------Cabecera----*/

header,
.l-logo img{
	box-shadow: 2px 2px 2px grey;
}
/*-------SERVICES-------*/
.l-intro-services{
	text-align: center;
}

.bg-description-services{
	background-color: #FDF9DA;
	background: -webkit-linear-gradient(#FDF9DA, #fff);
	background: -moz-linear-gradient(#FDF9DA, #fff);
	background: -o-linear-gradient(#FDF9DA, #fff);
	background: linear-gradient(#FDF9DA, #fff);
	position: relative;
	z-index: 100;
}
.description-service{
	text-align: center;
	padding: 2.5em;
}
.description-service img{
	padding-bottom: 20px;
}
.l-description-section .l-image{
	margin-bottom: 0 !important;
}
/*---------PORTFOLIO----------*/
.l-description-section{
	vertical-align:bottom;
}
.bg-portfolio-section{
	background: #6CE6C5;
	background: -webkit-linear-gradient(#DDF9F2, #fff, #fff,  #fff, #DDF9F2);
	background: -moz-linear-gradient(#DDF9F2, #fff, #fff, #fff, #DDF9F2);
	background: -o-linear-gradient(#DDF9F2, #fff, #fff, #fff, #DDF9F2);
	background: linear-gradient(#DDF9F2, #fff, #fff, #fff, #DDF9F2);
	position: relative;
	z-index: 100;
}
.description-project{
	background-color: #fff;
	/*border: 1px solid grey;*/
	padding: .5em;
}
.description-project:before{
	content: url(../img/mano.png);
	float: left;
	margin-right: .6em;
	margin-top: .5em;
}
.project  a{
	height: auto;
	background: #dadada;
	padding-bottom:3px;
}
/*---------CONTACT-----------*/
.l-contact-form input,
.l-contact-form textarea{
	width: 100%;
	border: 0;
	padding:1em;
	font-size:1em;
}
#comentarios{
	height:10em;
}
.l-input{
	border: 1px solid #E4E4E4;
	border-radius: 0.3em;
	height: auto;
}
.l-contact-form div:last-child{
	border: none;
	text-align: center;
}
.l-contact-form [type="submit"]{
	width:40%;
	border-radius: 0.3em;
	margin-top: 1em;
	cursor: pointer;
	background: #c1c1c1;
}
.btn-submit{
	line-height: 1em;
}
.carta{
	
	position: relative;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 1.2em auto;
	z-index:100;
	animation: flotar 1.3s ease-in-out infinite alternate;
	width:14em;
	height: 3em;
}
/*---------SOCIAL CONTACT------------*/
.l-thanks-text{
	text-align: center;
	padding-top: 6.25em;
}
.l-social-links{
	padding-bottom: 6.25em;
	text-align: center;
}
/*-------FOOTER------*/
footer{
	background-color: #333;
	width: 100%;
}
footer p{
	color: white;
	text-align: center;
	padding:30px;
	font-size: .8em;
	margin-bottom: 0;

}
/*----------ANIMATIONS----------*/
.a-scale{
	transition: all .5s ease;
}
.a-scale:hover{
	transform: scale(1.01);
	box-shadow: 2px 2px 5px #cdcdcd, -2px 2px 5px #cdcdcd;
}
.a-scale-link{
	transition: all .5s ease;
}
.a-scale-link:hover{
	transform: scale(1.01);
	-webkit-filter: drop-shadow 2px 2px 5px #cdcdcd;
	filter: drop-shadow(-2px 2px 5px #cdcdcd);
}
.a-scale-btn{
	transition: all .5s ease;
}
.a-scale-btn:hover{
	transform: scale(1.03);
	box-shadow: 2px 2px 5px #cdcdcd, -2px 2px 5px #cdcdcd;
	background: #72E6C1;
	background: -webkit-linear-gradient(#EDDA3D, #72E6C1);
	background: -o-linear-gradient(#EDDA3D, #72E6C1);
	background: -moz-linear-gradient(#EDDA3D, #72E6C1);
	background: linear-gradient(#EDDA3D, #72E6C1);
}
@keyframes flotar{
	from{
		top: 0;
	}
	to{
		top: -20px;
	}
}
@keyframes lef-wing{
	from{
		transform-origin: 100% 50%;
		transform: rotate(20grad);
	}
	to{
	}
}
@keyframes rig-wing{
	from{
		transform-origin: 3% 50%;
		transform: rotate(-20grad);
	}
	to{
	}
}
.aparecer,
.aparecer2,
.aparecer3{
	opacity: 0;
	position: relative;
	z-index:0;
}
.arrow_cont{
	width: 100px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	z-index: 200;
	top: 50%;
	left: 50%;
}
.arrow{
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	filter: opacity(50%);
}
