/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------------------
		GRID System
-----------------------------------*/
html{
	box-sizing: border-box;
}
*,
*:before,
*:after{
	box-sizing: inherit;
}
body{
	font: 85%/1.35 'Lora', serif;
	font-weight: 400;
	text-align: left;
}
h1{
	font-size: 3.125em;
}
h2{
	
	font: 2.618em/1.3 'Sigmar One', cursive ;
	padding-bottom: .5em;
}
h3{
	font-family: 'Lora', serif;
	font-size: 1.7em;
	font-weight: 700;	
}
/*------ MOBILE ------------
-------------------------------*/
.l-wrap{
	max-width: 480px;
	margin-right: auto;
	margin-left: auto;
}
.grid-item{
	margin: 10px 10px 20px;
}
.l-logo{
	width: calc((100% - 20px * 6) / 6);
	float: left;
	min-width: 8.75em;
}
.l-mapa-mental{
	width: calc((100% - 20px * 1) / 1);
	height: 20em;
	margin-bottom: 5.625em;
}

.l-description,
.l-image,
.l-services,
.l-portfolio-item,
.l-input,
.l-thanks-text,
.l-footer,
.l-intro-services
{
	width: calc((100% - 20px * 1) / 1);
}
.l-social-links:after{
	content:"";
	display: table;
	clear:both;
}
.l-social-item{
	width: calc((100% - 20px * 6) / 6);
	float:left;	
}
.l-image{
	padding-top: 5em;
}
.l-intro-services{
	padding-top: 6.25em;
	padding-bottom: 6.25em;
}
.l-portfolio-section{
	padding-top: 4.375em;
	padding-bottom: 9.375em;
}
.l-description-services{
	padding-bottom: 9.375em;
}

/*------ PANTALLA TABLETS -----
--------------------------------*/
@media (min-width: 620px){
body{
	font: 93%/1.43 'Lora', serif;
	font-weight: 400;
	text-align: left;
}
.l-wrap{
	max-width: 7800px;
	margin-right: auto;
	margin-left: auto;
}
.grid-item{
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}
.l-mapa-mental{
	width: calc((100% - 20px * 1) / 1);
	height: 23.333em;
}
.l-intro-services
{
	width: calc((100% - 20px * 1) / 1);
}
.l-description-section:after{
	content:"";
	display: table;
	clear: both;
}
.l-description{
	width: calc((100% - 20px * 2.4) / 2.4); 
}
.l-image{
	width: calc((100% - 20px * 1.715) / 1.715);
}
.l-description-services:after,
.l-portfolio-section:after,
.l-contact-form:after,
.l-social-links:after{
	content:"";
	display: table;
	clear: both;
}
.l-services{
		width: calc((100% - 20px * 3) / 3);	
}
.l-portfolio-item{
		width: calc((100% - 20px * 2) / 2);	
}
.l-input{
	width: calc((100% - 20px * 2) / 2);	
}
.l-contact-form .l-input:nth-child(3),
.l-contact-form .l-input:nth-child(4){
		width: calc((100% - 20px * 1) / 1);	

}
.l-thanks-text{
	width: calc((100% - 20px * 1) / 1);	
}
.l-social-item{
	width: calc((100% - 20px * 6) / 6);	
}
.l-footer{
	width: calc((100% - 20px * 1) / 1);	
}
}
/* ------PANTALLA PC ----------
---------------------------------*/

@media (min-width: 780px){
	body{
	font: 100%/1.5 'Lora', serif;
	font-weight: 400;
	text-align: left;
}

.three-col-grid:after{
	content:"";
	display: table;
	clear: both;
}
.column{
	width: calc((100% - 20px * 12) / 12);
	height: 80px;
	margin-right: 10px;
	margin-left:10px;
	background: grey;
	float: left;
}
.l-wrap{
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
}
.grid-item{
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}
.l-mapa-mental{
	width: calc((100% - 20px * 1) / 1);
	height: 31.25em;
}

.l-intro-services{
	width: calc((100% - 20px * 1) / 1);
}
.l-description-section:after{
	content:"";
	display; table;
	clear: both;
}
.l-description{
	width: calc((100% - 20px * 2.4) / 2.4); 
}
.l-image{
	width: calc((100% - 20px * 1.715) / 1.715);
}
.l-description-services:after{
	content:"";
	display: table;
	clear: both;
}
.l-services{
		width: calc((100% - 20px * 3) / 3);	
}
.l-portfolio-item{
		width: calc((100% - 20px * 3) / 3);	
}
.l-input{
	width: calc((100% - 20px * 2) / 2);	
}.l-contact-form .l-input:nth-child(3),
.l-contact-form .l-input:nth-child(4){
		width: calc((100% - 20px * 2) / 2);	

}
.l-thanks-text{
	width: calc((100% - 20px * 1) / 1);	
}
.l-social-item{
	width: calc((100% - 20px * 6) / 6);	
}
.l-footer{
	width: calc((100% - 20px * 1) / 1);	
}
}
/*------------------------------
		ESTILOS
--------------------------------*/
/*-------Cabecera----*/
header{
	height: 6.25em;
	background-color:#333;

}
.l-logo{
	margin-top: 0;
}
.l-logo img{

}
/*--------Navegacion---------*/
ul.topnav{
	overflow: hidden;
	background-color:#333;
}
ul.topnav li{
	float:right;
}
ul.topnav li a{
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 3em 1em 1em;
	text-decoration: none;
	transition: 0.3s;
	font-size: .9em;
}
ul.topnav li a:hover{
	background-color: #555;
}
ul.topnav li.icon{
	display: none;
}


/*-----maquetacion mobile -----*/
@media (max-width: 780px){
	ul.topnav li{
		display: none;
	}
	ul.topnav li.icon{
		float: right;
		display: inline-block;
	}
}
@media (max-width: 780px){
	ul.topnav.responsive {position: relative;}
	ul.topnav.responsive li.icon{
		position: absolute;
		right:0;
		top:0;
	}
	ul.topnav.responsive li{
		float: none;
		display: inline;
	}
	ul.topnav.responsive li a{
		display: block;
		text-align: left;
		padding: 17px 16px;
	}

}
/*-------MAPA MENTAL-------*/
.l-mapa-mental{
	background-image: url(../img/mapa-mental-ar.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
/*-------SERVICES-------*/
.l-intro-services{
	text-align: center;
}
.description-service{
	text-align: center;
	background-color: #F2F2F2;
	padding: 2.5em;
}
.description-service h3{
	padding-bottom:20px;
}

/*---------CONTACT-----------*/
.l-contact-form input,
.l-contact-form textarea{
	width: 100%;
}
.l-contact-form .grid-item{
	
}
/*---------SOCIAL CONTACT------------*/
.l-thanks-text{
	text-align: center;
}
/*-------FOOTER------*/
footer{
	background-color: #333;
	width: 100%;
}
footer p{
	color: white;
	text-align: center;
	padding:30px;
	font-size: .8em;

}
